[Unit]
After=mysql.service
StartLimitIntervalSec=200
StartLimitBurst=5

[Service]
WorkingDirectory=/data/blocktogether/
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node blocktogether.js --port 3000

User=james
Group=james

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
