[Unit]
After=mysql.service

[Service]
WorkingDirectory=/data/blocktogether/
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node blocktogether.js --port 3000

User=james
Group=james

Restart=always

[Install]
WantedBy=multi-user.target
