[Unit]
After=mysql.service
StartLimitIntervalSec=200
StartLimitBurst=5

[Service]
WorkingDirectory=/etc/blocktogether/
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node update-users.js

User=james
Group=james

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
