[Service]
WorkingDirectory=/etc/blocktogether/
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node update-blocks.js

User=james
Group=james

Restart=always

[Install]
WantedBy=multi-user.target
